<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test" verbose="1" preserve-order="true" parallel="false">
    <test name="testCase1">
        <classes>
            <class name="com.testNg_interface.testcase.ExcelApiTest">
                <methods>
                    <include name="init"></include>
<!--                    <include name="login"></include>-->
<!--                    <include name="postApi"></include>-->
<!--                    <include name="getApi"></include>-->
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.testNg_interface.report.ExtentTestNGReporterListener"></listener>

        <listener class-name="com.testNg_interface.failed.FailedRetryListener"></listener>

    </listeners>
</suite>